@use "./typography" as *;

.output {
  padding: 5rem 0;
  display: flex;
  background-color: silver;

  &__stat-hp-ac-wrap {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stats-wrap {
    height: 10rem;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 3rem;
  }

  &__stats-box {
    border: 1px solid black;
    width: 10rem;
    display: flex;
    flex-direction: column;
    background-color: gold;
    border-radius: 5px;
  }
  &__stats-number {
    font-family: Lugrasimo;
    font-size: 3rem;
  }
  &__stats-con-mod {
    font-family: Lugrasimo;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
  }
  &__stats-title {
    font-family: Lugrasimo;
  }

  &__hp-ac-wrap {
    height: 5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__hp {
    height: 4rem;
    width: 4rem;
    font-family: Lugrasimo;
  }
  &__hp-title {
    font-family: Lugrasimo;
  }
  &__hp-wrap {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 4rem;
    background-color: gold;
    text-align: center;
    border-radius: 5px;
  }
  &__ac-wrap {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 4rem;
    background-color: gold;
    text-align: center;
    border-radius: 5px;
  }
  &__ac-title {
    font-family: Lugrasimo;
    text-align: center;
  }
  &__ac {
    height: 4rem;
    width: 4rem;
    font-family: Lugrasimo;
  }

  &__image {
    height: auto;
    width: 10%;
    margin-right: 4rem;
    background-image: url(../assets/images/dragon_born.png);
    background-size: cover;
    padding-right: 2rem;
  }
}
